@model Ramp.Contracts.ViewModel.UserViewModel
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>OnRAMP Online Training Platform</title>
</head>
<body>
    <p class="content">
        You have requested to reset your RAMP password, please click on the below link to reset your password. If you did not make this request, please contact to your administrator.
    </p>
</body>
</html>
