@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TrainingTestUploadMigrationWithDb</title>
</head>
<body>
    <div class="jumbotron">
        <h3 class="lead">Success</h3>
    </div>
</body>
</html>