@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateActivityLogDescriptions</title>
</head>
<body>
    <div>
        <p>Success</p>
    </div>
</body>
</html>