@model Ramp.Contracts.ViewModel.CertificateModel
@using Common.Web

@{
    Layout = "~/Views/Shared/_LayoutStandardUser.cshtml";
}
<style>
    .requiredTxt {
        border: solid red;
    }

    .required {
        color: red;
    }

    .errorClass {
        border: 2px solid #a94442;
    }

    .cursor {
        cursor: pointer;
    }
</style>
<div class="modal fade" id="actionModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalSearch ">
                <button type="button" class="close" data-bind="click:$root.cancel.bind()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Enter your Achievement details</h4>
            </div>

            <div class="modal-body">
                <p>Please enter your certificate details below. Please ensure your uploaded certificate is in JPG formet and 1920 pixels * 1080 pixels</p><br>
                <div class="form-group">

                    <span class="required">*</span><label class="control-label">Achievement Title</label>
                    <input type="text" class="form-control" style="min-width:100%;" data-bind="textInput:vm.data.Title" name="Title"/>
                </div>
                <div class="form-group">
                    <span class="required">*</span><label class="control-label">Upload Certificate</label>
                    <input type="file" class="form-control" style="min-width:100%;" data-bind="click:$root.upload.click.bind()" title="Accepted filetypes: &#013; .JPEG &#013; .JPG &#013; .PNG" />
                    <div id="inputs" class="hidden">
                    </div>
                    <div data-bind="if: errors">
                        <p data-bind="text: errors()['Upload']" style="color: red;"></p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <div class="btn-group">
                        <button type="button" data-bind="click:$root.save.bind(), enable: $root.data.changed" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 @*old code*@

@*<div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Certificates</h3>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <span data-bind="text:mode"></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <div class="text-center" name="Upload">
                        <label class="control-label">Certificate</label>
                        <!-- ko with:data.Upload -->
                        <a data-bind="click:$root.upload.click.bind()" href="javascript:void(0)">
                            <img class="img-responsive center-block" data-bind="attr:{src: Url}" title="Accepted filetypes: &#013; .JPEG &#013; .JPG &#013; .PNG" />
                        </a>
                        <a data-bind="attr:{href:Url}" target="_blank">
                            <span data-bind="text:Description"></span>
                        </a>
                        <!-- /ko -->
                        <!-- ko ifnot:data.Upload -->
                        <a data-bind="click:$root.upload.click.bind()" href="javascript:void(0)">
                            <img class="img-responsive center-block" data-bind="attr:{src:$root.links.defaultImageUrl}" title="Accepted filetypes: &#013; .JPEG &#013; .JPG &#013; .PNG" />
                            <span> Click to Upload</span>
                        </a>
                        <br />
                        <!-- /ko -->
                        <div id="inputs" class="hidden">
                        </div>
                        <div data-bind="if: errors">
                            <p data-bind="text: errors()['Upload']" style="color: red;"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <br />
                        <div class="btn-group">
                            <button type="button" data-bind="click:$root.save.bind(), enable: $root.data.changed" class="btn btn-primary center-block">Save</button>
                            <button type="button" data-bind="click:$root.cancel.bind()" class="btn btn-default center-block">Cancel</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<script>

    $(document).ready(function () {
        $('#actionModal').modal('show');
    });

    @{
        (ViewBag.Links as IDictionary<string, string>).Add("defaultImageUrl", Url.Content("~/Content/images/imgDoc.png"));
        (ViewBag.Links as IDictionary<string, string>).Add("uploadLink", Url.Action("Upload", "Achievement", new {Area = ""}));
    }
    var vm = app.data.crudController(@Html.ToJson(Model),
        @Html.ToJson((IDictionary<string, string>) ViewBag.Links),
        @Html.ToJson((string) ViewBag.Mode));

    _init();

    vm.data.Title = ko.observable();
    ko.applyBindings(vm, document.getElementsByTagName('body')[0]);

    console.log(ko.unwrap(vm));

    function _upload_click(data) {
        if (ko.unwrap(vm.data.Upload)) {
            var u = ko.unwrap(vm.data.Upload);
            if (ko.unwrap(u.DeleteUrl)) {
                bootbox.confirm(
                    'Are you sure you want to Replace the Certificate with a new one?<br/>Once a new file is uploaded the current file will be removed',
                    function(result) {
                        if (result) {
                            vm.data.Upload(null);
                            _upload_addAndExecute(data);
                        }
                    });
            }
        } else {
            _upload_addAndExecute(data);
        }
    }

    function _upload_addAndExecute(data) {
        $('#upload').remove();
        var input = $(
            '<input data-bind="fileUpload:new ko.observable(), fileuploadOptions:vm.upload.options(),valueProperty:vm.data.Upload" class="hidden" type="file" name="files[]" accept="image/jpeg" />');
        $(input).prependTo('#inputs');
        ko.applyBindingsToNode(input[0], null, data);
        $(input).trigger('click');
        return true;
    }

    function _upload_options() {
        return {
            showProgress: false,
            url: vm.links.uploadLink,
            before: vm.upload.eventHandlers.before,
            success: vm.upload.eventHandlers.success,
            error: vm.upload.eventHandlers.error,
            autoupload: true
        };
    }

    function _upload_eventHandlers_before(element, fileName, valueProperty) {
        if (fileName.toLowerCase().indexOf('.jpg') > -1 ||
            fileName.toLowerCase().indexOf('.jpeg') > -1) {
            vm.upload.loading.show();
            return true;
        }
        notif({
            msg: 'Please Select An Image To Upload',
            type: 'error'
        });
        return false;
    }

    function _upload_eventHandlers_success(data, textStatus, xhr, valueProperty) {
        var u = ko.unwrap(vm.data.Upload);
        vm.data.Upload(ko.mapping.fromJS(ko.mapping.toJS(valueProperty)));
        vm.upload.loading.hide();

        var errors = vm.errors();
        if (errors != null && errors.hasOwnProperty("Upload")) {
            delete errors["Upload"];
            vm.errors(errors);
        }
    }

    function _upload_eventHandlers_error() {
        var errors = vm.errors();
        errors = errors != null ? errors : {};
        errors['Upload'] = 'Please upload a JPG file that is A4 in size (ie. 1920x1080) and has a resolution of 300 dpi.';
        vm.errors(errors);

        vm.upload.loading.hide();
    }

    function _upload_loading_show() {
        $('#LoadingImageDiv').show();
    }

    function _upload_loading_hide() {
        $('#LoadingImageDiv').hide();
    }

    function _upload() {
        return {
            click: _upload_click,
            options: _upload_options,
            eventHandlers: {
                before: _upload_eventHandlers_before,
                success: _upload_eventHandlers_success,
                error: _upload_eventHandlers_error
            },
            loading: {
                show: _upload_loading_show,
                hide: _upload_loading_hide
            }
        };
    }

    function _init() {
        vm.upload = _upload();
        vm.data.Title = ko.observable(vm.data.Title);
        if (ko.unwrap(vm.data.Upload)) {
            vm.originalUpload = vm.data.Upload;
            vm.data.Upload = ko.observable(vm.data.Upload);
            if (!ko.isObservable(vm.data.Upload))
                vm.data.Upload = ko.observable(vm.data.Upload);
        } else {
            vm.data = {};
            vm.data.Upload = ko.observable(null);
        }
        vm.data.changed = ko.observable(false);
        vm.data.Upload.subscribe(function(newValue) {
            if (newValue !== null) {
                vm.data.changed(true);
            }
        });
        vm.cancel = function() {
            window.location.href = vm.links.index;
        };
    }

</script>
