@model Ramp.Contracts.Events.Account.LostPasswordEvent

@{
    Layout = null;
    var headerPath = Url.Content(AppSettings.Urls.HeaderImageLogoUrl);
    var footerPath = Url.Content(AppSettings.Urls.FooterImageLogoUrl);
    var resetLink = AppSettings.Urls.ResolveUrl("~Account/ResetPassword?rt=" + Model.ResetToken);
    var notificationheader = "#27b899";
    var notificationfooter = "#27b899";

    if (PortalContext.Current != null && PortalContext.Current.UserCompany.CustomColours != null) {
        notificationheader = PortalContext.Current.UserCompany.CustomColours.HeaderColour;
        notificationfooter = PortalContext.Current.UserCompany.CustomColours.FooterColour;
    }
}

<!DOCTYPE html>

<html>
<head>

    <style>

    .headerstyle {
     background: @notificationheader;
     height:40px;
    }
    .footerstyle {
        background: @notificationfooter;
        height: 40px;
    }

    </style>

</head>
<body>
    <div>
        <div class="headerstyle"></div>
        <br />
        <br />
        <p>Hi @Model.User.FullName</p>
        <p>
            We understand that you’d like to change your password.<br />
            Please click the following link and follow the prompts to set a new password.<br />
            <a href="@resetLink">@resetLink</a>
        </p>
        <p>
            If you didn’t mean to reset your password or did not click the reset password button, you can safely ignore this email and your password will not change.<br />
            Please note that the password reset link can be only used once.
        </p>
        <p>
            If you have any questions, we’re always happy to help - just email us at <a href="mailto:support@onramp.training">support@onramp.training</a>.<br />
            The OnRamp Team
        </p>
        <br />
        <br />
        <div class="footerstyle"></div>
    </div>
</body>
</html>