@model Ramp.Contracts.Events.VirtualClassroom.VirtualMeetingReminderEvent
@{
    Layout = null;
    var headerPath = Url.Content(AppSettings.Urls.HeaderImageLogoUrl);
    var footerPath = Url.Content(AppSettings.Urls.FooterImageLogoUrl);
    var loginLink = AppSettings.Urls.ResolveUrl("~Account/Login", Model.CompanyViewModel);
    var notificationheader = "#27b899";
    var notificationfooter = "#27b899";

    if (PortalContext.Current != null && PortalContext.Current.UserCompany.CustomColours != null) {
        notificationheader = PortalContext.Current.UserCompany.CustomColours.HeaderColour;
        notificationfooter = PortalContext.Current.UserCompany.CustomColours.FooterColour;
    }

}
<!DOCTYPE html>

<html>
<head>

    <style>

    .headerstyle {
     background: @notificationheader;
     height:40px;
    }
    .footerstyle {
        background: @notificationfooter;
        height: 40px;
    }

    </style>

</head>
<body>
    <div class="headerstyle"></div>
    <br />
    <br />
    <p>Dear @Model.UserViewModel.FirstName,</p>
    <p>
        <span>Please note that you have a virtual Meeting that will begin in 15 minutes time: </span>
        <br />  <br />
        <span>Meeting Room Name:</span> <span>@Model.MeetingName</span><br />
        <span>Start Date/Time:</span> <span>@Model.StartDate</span><br />
        <span>End Date/Time:</span> <span>@Model.EndDate</span><br />

    </p>
    <br />

    <span>Location <a style="text-decoration:none;color:#262626;" href='@loginLink' class="JoinMeeting"> Join</a></span>
    <br />
    <br />
    <div class="footerstyle"></div>
</body>
</html>
