@model Ramp.Contracts.ViewModel.JsTreeModel
@using Web.UI.Helpers

<link href="~/Content/CategoryMenu.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>





<style>
    .hoverBackground {
        background-color: #e7f4f9 !important;
        display: block;
        text-shadow: 1px 1px 1px silver;
    }
</style>

<script type="text/javascript">

    $(".textDemo").hover(function () {
        $(".textDemo").removeClass("hoverBackground");
        $(this).addClass("hoverBackground");
        var widthPar = $($(this).parent()).width(); // width of parent li
        // var widthPar = $($($(this).parent()).parent()).width(); //Width of parent ul
        $(this).width(widthPar);
    });

</script>


<div class="dropdown" id="categoryMenu">
    <a id="dLabel" value="@Model.attr.id" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
        @Model.data <span class="caret"></span>
    </a>

    @Html.StateDropDownListFor(Model)

</div>







