@model string


<div id="demoTree" style="background: transparent;">

</div>

@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@

<script type="text/javascript">
   var treeModel = @Html.Raw(Model)
</script>

<script src="~/Scripts/jquery.jstree.js" type="text/javascript"></script>
<link href="~/Scripts/themes/default/style.css" rel="stylesheet" />
<script src="~/Scripts/Areas/ManageTrainingGuides/MyPlaybookCategory.js"></script>


