.pageHeading_ref {
    color: gray;
}
.chapterNumber{
    display:inline;
    border: 0.5px solid white;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:10px;
    padding-right:10px;
}
.chapterName{
    display:inline;
}
.chapterContent{
    max-height:300px;
    min-height:50px;
}
.panel-heading{
    height:50px;
}
.heading{
   padding:5px;
}
.coverPicture{
    margin:auto;
    max-height:inherit;
    max-width:inherit;
}
.attachment{
    max-height:100px;
    max-width:100px;
    display:inline;
}
.attachment-preview{
    margin:auto;
    max-height:300px;
    max-width:300px;
}
.lead{
    font-size:2.5em;
    color:gray;
    margin:0px;
}
.blueimp-gallery{
    margin:auto;
    background-color:black;
}
@media screen and (max-width:1200px){
    #divContent{
        display:none;
    }
}
p > img {
    max-width:100%;max-height:100%;
}
.chapter-content{
    overflow-x:auto;
}
.cke_toolbox{
    display:none;
}
.active-chapter {
    color: #337ab7 !important;
    text-decoration:underline;
}
.anchor {
    color: #337ab7 !important;
    cursor  : pointer;
}