@using Ramp.Contracts.ViewModel
@model ProvisionalCompanyUserViewModel

<div class="table-responsive">
    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
        <table id="dataTables-example" class="table table-striped table-bordered table-hover dataTable no-footer" aria-describedby="dataTables-example_info">
            <thead>

                <tr role="row">
                    <th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 185px;" aria-label="Rendering engine: activate to sort column ascending">
                        Name
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 185px;" aria-label="Rendering engine: activate to sort column ascending">
                        Contact Number
                    </th>
                    <th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 185px;" aria-label="Rendering engine: activate to sort column ascending">
                        Email
                    </th>

                    <th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 185px;" aria-label="Rendering engine: activate to sort column ascending">
                        Mobile Number
                    </th>

                </tr>

            </thead>
            <tbody>
                @foreach (UserViewModel item in Model.UserList)
                {
                    <tr class="gradeA odd">
                        <td class="">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td class="">
                            @Html.DisplayFor(modelItem => item.ContactNumber)
                        </td>
                        <td class="">
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td class="">
                            @Html.DisplayFor(modelItem => item.MobileNumber)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" language="javascript">
    $(function () {
        $('.tooltip-demo').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        });
        $('#dataTables-example').dataTable();
    });
</script>