<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.2.1" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="FlexCel" version="5.3.0.0" targetFramework="net45" />
  <package id="Hangfire.Core" version="1.6.14" targetFramework="net45" />
  <package id="Ical.Net" version="2.2.7" targetFramework="net452" requireReinstallation="true" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="IKVM" version="7.4.5196.0" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net45" />
  <package id="itextsharp.xmlworker" version="5.5.12" targetFramework="net45" />
  <package id="LinqKit" version="1.1.15" targetFramework="net452" />
  <package id="LINQtoCSV" version="1.5.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NReco.ImageGenerator" version="1.1.0" targetFramework="net45" />
  <package id="NReco.VideoConverter" version="1.1.2" targetFramework="net45" />
  <package id="NuGet.Core" version="2.8.2" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="17.4.0.53" targetFramework="net452" requireReinstallation="true" />
  <package id="TikaOnDotNet" version="1.7.0" targetFramework="net45" />
  <package id="VirtuaCon" version="2.1.368.1854" targetFramework="net45" />
  <package id="VirtuaCon.Reporting.Excel" version="2.1.368.1854" targetFramework="net45" />
  <package id="VirtuaCon.Reporting.Pdf" version="2.1.368.1854" targetFramework="net45" />
</packages>