<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
	<packageSources>
		<add key="nuget.org" value="https://packages.nuget.org/v1/FeedService.svc/" />
		<!-- <add key="Nrth Nuget" value="http://proget.nrth.com/nuget/nuget" /> -->
	</packageSources>
</configuration>